/* .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */


*{
  /* background-color: hsl(232deg 18% 9%) !important; */

}

body{
  background-color: hsl(232deg 18% 9%) !important;

}
table *{
  border-bottom:none !important; 
  /* font-size: 20px; */
}
.table-heading-border{
  /* background-color: red; */
  border-bottom: 1px solid hsl(201deg 29% 26%) !important;
}
.css-1q1u3t4-MuiTableRow-root{
  /* color: #1890ff !important;
  background-color: white !important; */

}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}


.mysidebar *{
  background-color:hsl(240deg 14% 13%) !important; 
}
.ant-layout-sider {
  position: fixed !important ;
  left: 0 !important;
  height: 100vh;
}

.ant-layout-header {
  /* width: 80px !important; */
  padding: 0px !important;
  text-align: center;
}

.sidemenuheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.headerHeading {
  color: white;
  font-size: 4vh;
  padding-top: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.headeroicon {
  color: white;
  font-size: 20px !important;
}

.cards-div {
  width: 100%;
  /* display:flex !important; */
  margin: 2% 0%
}


#cards {
  width: 23%;
  height: 180px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 0% 1%;
}

.lineragraph {
  /* width: 40% !important; */
  height: 180px !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: whitesmoke !important;
}

.graphcolour {
  background-color: hsl(232deg 18% 9%);
  width: 70%;

}



.card-width-3 {
  width: 32%;
  margin: 0% 1%;
  height: 250px;
  /* max-height: 300px; */
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 10px;
  overflow: hidden;

}

.card-width-3>h4 {
  color: white;
  font-size: large;
  white-space: nowrap;
}

.site-layout {
  background-color: hsl(232deg 18% 9%) !important;
}

.ant-progress {
  width: 60% !important;
  height: 60px;
  margin-right: 10px !important;
}

.ant-progress-inner {
  /* width:60% !important; */
}

.ant-progress-status-normal {
  /* width:60% !important; */
}

.ant-progress-text {
  color: white !important;
  /* margin-top: 20px !important;
  font-size: 80% !important; */
  /* position: absolute !important;
  top:20px !important;
  left:20px !important; */
  /* right:20% !important; */
}

.progress-report {
  /* background-color: green; */
  /* width: 90%; */
  /* flex-wrap: wrap; */
  display: flex;
  /* justify-content: space-evenly; */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.progress-report>p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardcontent {
  display: flex;
  margin: 20px 0px;
}

.databox-Card {
  width: 10px;
  height: 10px;
  background-color: #61dafb;
}

/* hehhehe */
.progress-report-parent-div {
  width: 70%;
  margin-left: 20%;
  /* text-align: center; */
  text-overflow: ellipsis;
  overflow: hidden;
}

.progressDiv {
  /* background-color: red; */
  width: 100px;
  text-align: center;
}

.ant-progress-circle {
  width: 98% !important;
}

/* hehhehe */

.totalfiles-Card {
  display: flex;
  color: white;
  align-items: flex-start;
}

.totalfiles-Card>* {
  color: white;
  font-size: 10px;
  padding-left: 2px;
}

/* .totalfiles-Card>h4{
  margin-left:5px ; 
} */
.tables>* {        
  background-color: hsl(232deg 18% 9%);
  min-width: 100% !important;

}

.recentfiles-header {
  display: flex;
  justify-content: space-between;
  padding:0% 4%
  /* flex-direction: row; */
}

.recentfiles-header>input {
  background-color: #282c34;
  border-radius: 100px;
  color: white;
  width: 40%;
  height: 30px;
  padding: 5px 20px;
}

.recentfiles-header>input::placeholder {
  color: white;
}

/* .MuiTableCell-root {
  color: white ;
} */
thead *{
  color: hsl(192deg 32% 45%) !important;
}
tbody *{
  color: white !important;
}

.divider {
  background-color: white !important;


}

.lineargraph-content {
  width: 25%;
  height: 170px;

}

.lineargraph-content-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* .dragAndDrop{
  background-color: red !important;
} */
.drapAndDrop-Main-Div{
  margin-left:35%;
  text-align:center;
  display:flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 30px;
}
.drapAndDrop-Main-Div>button{
  margin-left: 20%;
}
.create-project{
  background-color:hsl(191deg 32% 48%) !important;
  width: 210px;
  height: 50px;
}
@media only screen and (max-width: 1050px) {

  /* .ant-progress-circle
  {
    
    width: 60% !important;
  } */
  /* .site-layout-background{
    margin:0px !important;
    padding: 0px !important;
  } */

  .cards-div {
    display: flex;
    flex-wrap: wrap;
    margin: 0% 1%;
    /* margin-top: 20px; */
    /* width:100%; */
    /* background-color: red; */
  }

  .card-width-3 {
    width: 47%;
    margin: 0% 1%;
    margin-top: 20px;
    /* margin: 10px 10px; */
    
    /* margin-top: 10px; */
    text-align: center;
  }

  .card-width-3>h4 {
    font-size: large;
    white-space: nowrap;
  }

  .progress-report-parent-div {
    margin-left: 15%;
    width: 100%;
    text-overflow: initial !important;
    /* margin: 10px 5px; */
  }

  .progressDiv {
    width: 150px !important;
    text-align: center;
    margin: 10px 0px;
  }

  .ant-progress-circle {
    width: 100% !important;
  }

  .cardcontent {
    margin: 0% 5%;
  }

  #cards {
    width: 47%;
    height: 180px;
    margin-top: 20px;
    /* margin: 10px 0%; */
  }

  .lineragraph {
    width: 47% !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: whitesmoke !important;
  }

  .lineargraph-content {
    width: 20%;
  }
  thead  *{
    text-align: center !important;
    font-size: 2vw !important;

  }
  tbody  *{
    text-align: center !important;
    font-size: 1.5vw !important;
  }
  thead tr *{
    padding: 10px !important; 
    /* line-height: 5px !important; */
  }
  tbody tr *{
    padding: 10px !important;      
    /* line-height: 5px !important; */
  }
}

@media only screen and (max-width: 900px) {
  .drapAndDrop-Main-Div{
    margin-left:0%;
    text-align:center;
    display:flex;
    justify-content:space-evenly;
    margin-top: 30px;
  }
  .drapAndDrop-Main-Div >div{
    margin-bottom: 20px;
  }
  .drapAndDrop-Main-Div >button{
    margin-left: 0%;
  }
}
@media only screen and (max-width: 600px) {

  thead  *{
    font-size: smaller !important;
  }
  tbody  *{
    font-size: smaller !important;
  }
  thead tr *{
    line-height: 0px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;

  }
  tbody tr *{
    padding-top: 10px !important;  
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    line-height: 0px !important;

  }
  .cards-div {
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
  }

  .card-width-3 {
    width: 90%;
    height: auto;
    /* height: 250px; */
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 10px !important;
    padding: 5px;
  }

  .lineragraph {
    width: 90% !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: whitesmoke !important;
  }

  #cards {
    width: 90%;
    /* margin: 10px 10px; */
  }

  .progress-report {
    text-align: center !important;
  }

  .card-width-3>h4 {
    font-size: large;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  /* .headerHeading{
    font-size: large;
  }
  .headeroicon{
    width:100%
  } */
  .drapAndDrop-Main-Div{
    margin-left:0%;
    text-align:center;
    display:block;
  }
}

@media only screen and (max-width: 500px) {
  .slidemobileview{
    margin-left: 80px !important;
    /* z-index: 0; */
  }
  .ant-layout-sider{
    z-index: 1;
  }
}